<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars Inventory</title>
  </head>
  <body>
    <header>
      <h1>Cars Inventory</h1>
      <a href="/categories">Categories</a>
      <br />
      <a href="/vehicles">All vehicles</a>
    </header>
    <main>
      <h2>Home page</h2>
      <a href="/categories">Categories</a>
      <br />
      <a href="/vehicles">All vehicles</a>
    </main>
  </body>
</html>
